<template>
  <div class="external-link-icon main-icon">
        <i class="ion-arrow-up-a white-arrow"></i>
        <i class="ion-android-arrow-up arrow"></i>
  </div>
</template>

<style lang="stylus">
  @import '../../stylus/_mixins'
  @import '../../stylus/_variables'

  .main-icon
    flex-centered()
    position relative
    height 1rem
    width 1rem
    background $trans
    border solid 0.2rem $col-gold
    padding 0!important
    i.white-arrow,
    i.arrow
      transform rotate(45deg)
      font-size 200%
      flex-centered()
      position relative
      top -50%
      left 50%
      margin 0
      padding 0
      line-height 0
      width 100%
      height 100%
    i.white-arrow
      position absolute
      top -50%
      left 50%
      color white
</style>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>