<template>
	<div class="home-link-container">

		<a class="home-link"
		   id="home"
		   v-link="{name: 'home'}"
		   @click="changePage"
	 	>
			{{ title }}
    </a>

	</div>
</template>

<script>
	export default {
		props: ['link_target', 'link_name', 'title'],
		methods: {
			changePage: function(event){
				this.$dispatch('close-menu');
			}
		}
	}
</script>