<template>
	<div class="link-container">

		<a class="nav-link"
		   id="{{ link_target }}"
		   v-link="{name: link_name}"
		   @click="changePage"
		>
			{{ link_name }}
    </a>

		<a v-link="{name: link_name}" class="blurb"> {{ link_blurb }} </a>

	</div>
</template>

<script>
	export default {
		props: ['link_target', 'link_name', 'link_blurb', 'title'],
		methods: {
			changePage: function(event){
				this.$dispatch('close-menu');
			}
		}
	}
</script>