<template>
	<div class="toggle-button-main {{ location }}-state" @click="toggleMenu">
		<i class="toggle-icon {{ icon }}"></i>
		<i class="menu-blurb">{{ state == 'closed' ? 'Open menu' : 'Close menu' }} </i>
	</div>
</template>

<script>

	export default {
		props: ['location', 'position', 'icon'],
		data: function(){
			return {
				currentIcon: 'ion-nav-menu',
				icons: {
					opened: 'ion-nav-menu',
					closed: 'ion-close'
				},
				isClosed: true,
				state : 'closed'
			}
		},
		methods: {
			toggleMenu: function(){
				this.isClosed = !this.isClosed;
				this.$dispatch('toggle-menu', this.isClosed);
			}
		},
		computed: {
			icon: function(){
				return this.isClosed ? 'ion-navicon' : 'ion-ios-close-empty'

			},
			state: function(){
				return this.isClosed ? 'closed' : 'opened';
			}
		},
		events: {
			'close-menu-toggle' : function(){
				this.isClosed = true;
			}
		}
	}

</script>