<template>
	<div id="app">
		<app-navbar :location="location" :navclass="navState" :routes="routes"></app-navbar>
		<router-view :app-info="appInfo"></router-view>
	</div>
</template>

<style lang="stylus">
	@import "../stylus/_reset.styl"
	@import '../stylus/_variables'
	@import '../stylus/_mixins'
	@import '../stylus/_typography'

	setFont()
	setStyle()

	html
		height 100%
		width 100%
		margin 0
		padding 0
		text-align center

	#app
		min-height 100vh
		height auto
		width 100%
		padding 0
		margin 0

	.page
		min-height 100vh
		height auto
		margin 0
		padding 0

	.page-inner
		min-height 100vh
		height auto
		margin 0
		padding 0
		@media bp.large
			padding 0 12.5vw

	.page-content
		width 100%

	.page-content-section
		margin 0 0 20%

	.text-default
		text-align center
		@media bp.large
			text-align left

	.text-default,
	blockquote
		width 80%
		padding 0 10%
		@media bp.large
			width 60%
			padding 0 20%

	.inline-link
		background $col-primary
		color $col-white
		padding 0.25rem 0.5rem
		text-decoration none
		border-radius 0.2rem
		margin 0
		i
			width auto
			height 100%
			padding 0 0.1rem
			color $col-gold

	blockquote
		border-style solid none solid none
		font-style italic
		font-weight 100
		margin  0 0 calculateFontSize()
		span
			font-size 120%
			color $col-primary
			line-height 1
			padding 0rem
			margin 0

	/* For all header styling */

	.page-header-group.top-header.home
		border none!important
	.page-header-group.top-header
		padding 0
		/*padding-top 15vh*/
		// padding same height as navbar height
		min-height 60vh
		height auto
		width 100%
		margin-bottom 10vh
		flex-centered(fd:column)
		border-bottom dotted thin $col-secondary
		@media bp.large
			padding-top 12.5vh
			min-height 55vh
			h1.page-header
				font-size calculateFontSize(4)

	.dark
		color $col-secondary-dark!important
	.light
		color $col-white!important
	.thin
		font-weight 100!important
	.bold
		font-weight 900!important

	.top-header .page-header
		font-size calculateAltFontSize(1)
		color $col-secondary
	.page-secondary-header,
	.page-section-header,
	.page-banner-sub-header
		font-size calculateAltFontSize(1)
		/*width 100%*/
		/*padding 0*/
		padding 0 10%
		width 80%
		margin 0 0 @font-size * 0.75
	.page-section-header
		color $col-secondary
		text-transform uppercase
		span.large-character
			color $col-primary
			font-size 120%
	.homepage-header-blurb
		span
			color $col-primary

	.scroll-notation
		font-size calculateFontSize(2)
		color rgba($col-secondary, 50%)
		flex-centered()
		height 12.5vh
		width 100%
		margin 0
		padding 0!important

	#home-scroll-notation
		position absolute
		bottom 5%
		/*align-items flex-end*/

	/* For all page navigation styling */

	.page-content-navigation
		display none
		@media bp.large
			width 10vw
			position fixed
			top 25vh
			right 0
			height 50vh
			margin 0
			padding 0
			flex-centered(fd:column)
			background transparent
			border none
			.page-side-nav-list
				width 80%
				margin 0
				padding 0
				list-style none
				color $col-primary-hl
				flex-centered(fd:column, jc:space-around)
				.page-side-nav-item
					font-size 0.75rem
					width 100%
					padding 0
					margin 2rem 0
					.page-nav-blurb
						width 0
						height 0
						display none
					&:hover
						color $col-primary
						font-size calculateAltFontSize()
						transition font-size 0.2s, color 0.2s

	.ul-std
		margin 0
		width 70%
		padding 5% 15%
		color $col-primary
		li
			width 100%
			text-align left
			padding 0
			height auto
			margin 0.5rem 0
			color $col-secondary
			position relative

</style>

<script>

	import NavBar from './core_components/NavBar.vue';
	import appConfig from '../config/appConfig';
	const appRoutes = appConfig.routes;

	export default {
		data: function(){
			return{
				fauxLoading: false,
				screenPos: 0,
				threshold: (window.innerHeight * 0.15),
				sideNavThreshold: ((window.innerHeight * 0.6) - (window.innerHeight * 0.075)),
				currentPageThreshold: 0,
				win: {},
				routes: appRoutes,
				appInfo: {
			    business: 'Superb Healthcare',
			    reg_no: 'unknown',
			    owner: 'Peter Kiramba',
					main_line: '0118 375 4194',
					on_call_no: '07517721262',
					main_email: 'info@superbhealthcare.co.uk',
					owner_email: 'peter@superbhealthcare.co.uk',
					address: `45 Lea Close
					Reading
					Berkshire
					RG30 3NB`
			  }
			}
		},
		methods: {
			init: function(){
				this.cacheDom();
				this.bindEvents();
				// this.setRoutesInNavbar();
			},
			cacheDom: function(){
				this.win = window;
				console.log(this.win)
			},
			bindEvents: function(){
					const _this = this;
					this.win.addEventListener('scroll', function(){
						// set screenPos variable to the Y-axis scroll position
						_this.screenPos = this.scrollY;

						_this.screenPos > _this.sideNavThreshold ? _this.setSideNavClass('fixed'): _this.setSideNavClass('default');
						// console.log('screen pos: ', _this.screenPos)
				});
			},
			showPageElements: function(){
				// console.log('Show hidden elements');
				this.$broadcast('showElements');
			},
			hidePageElements: function(){
				// console.log('this will hide the same elements');
				this.$broadcast('hideElements');
			},
			setSideNavClass: function(val){
				let _this = this;
				this.$broadcast('setSideNav', val);
			}
		},
		events: {
			'setThreshold': function(threshold){
				console.log('setting threshold from current view');
				this.currentPageThreshold = threshold;
				console.log('current page threshold is: ', this.currentPageThreshold)
			}
		},
		computed: {
			location: function(){
				// get the router's current path
				var path = this.$route.path
				// return path minus the '/'
				return path.substr(1)
			},
			navState: function(){
				if(this.currentPageThreshold != 0){
					return this.screenPos > this.currentPageThreshold ? 'nav-with-bg' : 'nav-no-bg';
				}else{
					return this.screenPos > this.threshold ? 'nav-with-bg' : 'nav-no-bg';
				}
			}
		},
		ready: function(){
			this.init();
		},
		components: {
			appNavbar : NavBar
		}
	}
</script>