@import "./_variables.styl"
// render an item off-screen to the top of the vp

off-screen-top(pos = fixed, t = -110vh, l = 0)
  position pos
  top t
  left l

// render an item off-screen to the bottom of the vp

off-screen-bottom(pos = fixed, b = -110vh, l = 0)
  position pos
  botom b
  left l

  // flexible helper to temporarily hide elements, includes visibility

hide(h = 0, w = 0, p = 0, m = 0, o = hidden, vis = hidden)
  height h
  width w
  padding p
  margin m
  overflow o
  visibility vis

// flexible helper to temporarily hide elements

zero(h = 0, w = 0, p = 0, m = 0, o = hidden)
  height h
  width w
  padding p
  margin m
  overflow o

// remove padding and margin with default params or set them with custom

marg-pad(m=0, p=0)
  padding p
  margin m

// render an element as a circle

  make-circle(radius = 50%, width = 100%, height = 100%)
      border-radius radius
      height height
      width width

//clearfix

  cf()
    zoom 1
    &:after
    &:before
      content""
      display table
    &:after
      clear both

// flex-box utility, pass params to set justify-content, align-items and flex-wrap/direction

  flex-centered(disp = flex, jc = center, ai = center, fd = row, fw = nowrap)
    display disp
    justify-content jc
    align-items ai
    flex-direction fd
    flex-wrap fw

// fairly standard button style

  std-button(bG = pomegranite, col = cloudGray, bdr = none, bdr-r = 0.2rem)
    height 3rem
    width: 40vw
    background bG
    color col
    border bdr
    border-radius bdr-r
    font-size 1.05rem
    @media tablet
      height 4rem
      width: 10rem
      font-size 1.25rem

  // to remove blue outline from buttons on click
  // button:focus
        // outline: 0

//redundant transition helper

  mobileMenuTrans()
    transition top 0.25s, left 0.25s, background 0.15s

// set border radius, defaults to 0

  br(topLeft=0, topRight=0, bottomRight=0, bottomLeft=0)
      border-radius topLeft topRight bottomRight bottomLeft

// set box-shadow, uses sensible defaults

  bsd(col= darkGray, first = 0.12rem, second = 0.12rem, radius = 0.2rem)
      box-shadow first second radius col

// setting text shadow

tsd(col= darkGray, l = 0.1rem, t = 0.1rem)
    text-shadow l t col

// most frequently used image settings

  std-img(bp=center, ba=initial, bs= cover, br=no-repeat, burl=url('../../img/bg/testimage'))
      background burl
      background-position bp
      background-attachment ba
      background-size bs
      background-repeat br

// set the width and height of an element

  size(width=0, height=0)
      width width
      height height

// set an element's height and width to equal that of the vp width & height

  fullScreen()
      height 100vh
      width 100vw

  // set a value to apply to both height and width
  // (Square)

  square(size = 10vh)
      height size
      width size

  // setting font sizes

	$base-font-size = 16px
	$golden-ratio = 1.618
	$ratio = $golden-ratio
	$base-line-height = 1.45

	setBaseFontSize(value=$base-font-size)
		html
			font-size value

	calculateFontSize(size=0)
		baseVal = 10
		for num in 0..size
			baseVal = baseVal * $golden-ratio
			font-size = baseVal px

	calculateAltFontSize(size=0)
		baseVal = 11.5370828183
		for num in 0..size
			baseVal = baseVal * $golden-ratio
			font-size = baseVal px
