@import "./_variables.styl"
@import "./_mixins.styl"

	//gird variables

	base-grid-lh = 6px
	grid-multiplier = 4

	// type variables

	$base-font-size = 16px
	$golden-ratio = 1.618
	$ratio = $golden-ratio
	$base-line-height = 1.45

	setBaseFontSize(value=$base-font-size)
		html
			font-size value

	calculateFontSize(size=0)
		baseVal = 10
		for num in 0..size
			baseVal = baseVal * $golden-ratio
			font-size = baseVal px

	calculateAltFontSize(size=0)
		baseVal = 11.5370828183
		for num in 0..size
			baseVal = baseVal * $golden-ratio
			font-size = baseVal px

	setFont()
		$headerFont = $Roboto
		$subHeaderFont = $Roboto
		$bodyFont = $Roboto
		h1,h2
			font-family $headerFont
			font-weight 900
		h3
			font-family $subHeaderFont
			font-weight 700
		h3.normal
			font-weight 400
		h3.lighter
			font-weight 300
		h1,h2,h3,p,i
			width 80%
			padding 0 10%
		body
			font-family $bodyFont
			font-weight 400
			margin 0
			padding 0



	setStyle()
		body
			font-size calculateFontSize()
		h1
			font-size calculateAltFontSize(2)
			line-height $base-line-height
			margin-bottom @font-size * 0.75
		h2
			font-size calculateAltFontSize(1)
			line-height $base-line-height
			margin-bottom @font-size * 0.75
		h3
			font-size calculateFontSize(1)
			line-height $base-line-height
			margin-bottom @font-size * 0.75
		blockquote
			font-size calculateFontSize()
			line-height $base-line-height
		p,i,ul,ol,a,article,abbr,aside,code,button, input, textarea,legend,select,label
			margin-bottom calculateFontSize(1)
			line-height calculateFontSize(1)
		ul
			margin-left 1rem
		.list-square
			list-style:square
		.no-list
			list-style: none
		fieldset
			max-width 100vw
			width 100%
			padding calculateFontSize(2) 0
			margin 0 0 calculateFontSize(1)
			flex-centered(fd:column, ai:flex-start, jc:space-between)
		form
			width 100%
			flex-centered(fd:column, jc:flex-start, align-items: flex-start)
		input,select,textarea
			width 100%
			height 3rem
			border-radius 0.2rem
			border solid thin lighten(darkGray, 50%)
			padding 0 0 0 0.5rem
			@media bp.large
				width 60%
		textarea
			height 8rem
		.input-group
			width 100%
			padding 0.25rem 0
			margin 0.25rem 0
			flex-centered(fd:column, jc:flex-start, ai:flex-start)
			@media bp.large
				width 80%
		label
			margin-bottom 0.5rem
		input[type='checkbox']
			height 3rem
			width @height
		input:checked
			background red
			height 3rem
			width @height
		input.invalid
			border-color pomegranite
		input.correct
			border-left-color emeraldDark
		button
			height 3.25rem
			min-width 8.5rem
			padding 0 5%
			width auto
			background $col-tertiary
			color cloudGray
			border none
			border-radius 0.15rem
		button.app-button-nav
			padding 0 10%
			min-width 12rem
			width auto
		button.outline
			background transparent
			border-width 0.15rem
			color peterRiverDark
			font-weight bold
		@media bp.medium
			h1
				font-size calculateFontSize(3)
			h2
				font-size calculateFontSize(2)
			h3
				font-size calculateFontSize(1)
			h4
				font-size calculateFontSize(0)
			body,p,i,ul,ol,li,span,a
				font-size calculateFontSize()
			blockquote
				font-size calculateFontSize()

