@import 'lib/_colors.styl';

  // core pallets
  $col-primary = darken(#5BA0DD, 25%)
  $col-primary-light = #5BA0DD
  $col-secondary = midnightBlue
  $col-secondary-dark = darken($col-secondary, 12.5%)
  $col-tertiary = #FA8072
  $col-tertiary-dark = darken(#FA8072, 10%)
  $col-off-white = rgb(245, 245,245)
  $col-white = #FFFAF0
  $col-gold = goldStd
  $col-yellow = #F5DEB3

  //  single fontfaces

  $Roboto = "Roboto", sans-serif

  // screen break points

  bp = {}
  bp.small = "screen and (max-width: 28.125em)"
  bp.small-wide = "screen and (max-width: 46em) and (orientation: landscape)"
  bp.medium = "screen and (min-width: 46.0625em)"
  bp.medium-wide = bp.medium + "and (orientation: landscape)"
  bp.large = "screen and (min-width: 80.0625em)"
  bp.extra-large = "screen and (min-width: 100.0625em)"

  //Typical navbar sizes based on breakpoints

  nh = {}
  nh.s = 15vh
  nh.s-w = 10vw
  nh.m = 12.5vw
  nh.m-w = 10vw
  nh.l = 12vw
  nh.xL = 8vw

// Ratios
  ratios = {}
  ratios.golden = 1.1618
  ratios.minor-second = 1.067
  ratios.perfect-fourth = 1.333
  ratios.minor-seventh = 1.778
  ratios.major-seventh = 1.875
  ratios.octave = 2