@import '../stylus/_variables'
@import '../stylus/_mixins'

.app-content
	width 100%
	min-height 100vh
	height auto
	margin 0
	padding 0
	flex-centered()
	background url('../img/bg/old-man-dark-blue.jpg')
	background-position left
	background-repeat no-repeat
	background-size cover
	background-attachment fixed
	.app-content-inner
		flex-centered(fw:wrap, fd:column)
		width 100%
		min-height 100vh
		height auto
		margin 0
		padding 0
		background rgba(midnightBlue, 80%)
		background transparent

@media bp.large
	.app-content
		flex-centered(fd:row, jc:center,fw:wrap)
		background url('../img/bg/careworker-yellow-blue.jpg')
		background-position left
		background-repeat no-repeat
		background-size cover
		background-attachment fixed
		.app-content-inner
			flex-centered(fd:column, jc:center,fw:wrap)
			// background rgba(midnightBlue, 92.5%)
			background transparent
			transition background 0.25s
		.app-content-inner.show
			background rgba(midnightBlue_dark, 95%)
			transition background 0.25s

.app-fullwidth-split
	width 100%
	height auto
	background transparent

@media bp.large
	.app-fullwidth-split.home-fw-split
		padding-top 8.5%
		height 22.5%
	.app-fullwidth-split[class*='-fw-split']:not(.home-fw-split)
		height 60vh


section[class*='app-banner']
	height 100%
	width 100%
	flex-centered(fd:column, jc:center)
	position: relative
	.app-banner-header
		// color darken(peterRiverDark, 30%)
		color cloudGray
	.app-banner-subheader
		// font-weight 300
	@media bp.large
		position relative
		height 100%
		.app-banner-subheader
			// font-size calculateAltFontSize()
			padding 0 25%
			margin-bottom 0
			width 50%
			text-align center
		h2,h1
			width 100%
			padding 0
			margin-top 0
			line-height 1
			text-align center

.mobile-scroll-notation
	color cloudGray
	width 100%
	height auto
	flex-centered(fd:column)
	position absolute
	top 70%
	z-index 10
	transition top 0.5s
	i[class*='-down']
		width 100%
		flex-centered()
		position absolute
		left 0
		margin 0
		padding 0
		transition:  top 0.25s, font-size 0.25s, color 0.25s
	i[class*='-down']:nth-child(1), i[class*='-down']:nth-child(2)
		top 2vh
		font-size 8rem
		z-index 5
	i[class*='-down']:nth-child(2)
		color darken(midnightBlue, 30%)
		left 0.5vw
		font-size 8.5rem
		top 2.75vh
		z-index 3

@media bp.large
	.home-fw-split
		.mobile-scroll-notation
			visibility hidden
			zero()
	.mobile-scroll-notation
		position absolute
		width 5%
		height @width
		top 80%
		left 47.5%
		flex-centered()
	.mobile-scroll-notation.show
		top 70%
		z-index initial
		transition
		i[class*='-down']
			color midnightBlue_light
		i[class*='-down']:nth-child(1), i[class*='-down']:nth-child(2)
			top 0
			font-size 2rem
			left 0

.app-page-split.primary-split-home, .app-page-split.secondary-split-home
	height auto
	min-height 50vh
	width 100%
	padding 0
	flex-centered(fd:column, jc:center);
	@media bp.large
		min-height 60%

.app-page-split.primary-split-home
	justify-content flex-start
	// padding-top 10%
	background transparent

.app-page-split.secondary-split-home
	height auto
	min-height auto

@media bp.large
	.app-page-split[class*='secondary-split'],
	.app-page-split[class*='primary-split'],
		background transparent
		width 50%
		min-height 60%
		height auto
		margin 0
		flex-centered(fd:column, jc:flex-start)
		padding 0
		[class*='primary-inner']
			border none
	.app-page-split.show
		[class*='primary-inner']
			border-right solid thin rgba(midnightBlue_light, 10%)


.app-split-inner
	width 100%
	height auto

.app-split-inner.app-min-height-full
	min-height 100%

.app-page-segment.flex-start-mobile.center-desktop.full-screen
	height 100%

.app-page-segment.flex-start-mobile.center-desktop
	width 100%
	height auto
	padding 10% 0
	flex-centered(fd:column, jc:flex-start)
	background white
	.app-segment-header
		width 100%
		text-align center
	@media bp.large
		justify-content center
		border-top solid thin rgba(midnightBlue_light, 40%)
		background transparent
		min-height 55%
		height auto
		width 90%
		padding 0
		margin 0
		p.app-text-std
			height auto
			width 75%
			color cloudGray
			text-align left
		p.app-text-std-home
			min-height 10%
			height 15%
			width 60%
			text-align center
			color cloudGray
		.app-segment-header
			color goldStd
		.app-segment-sub-header
			color lighten(midnightBlue_lightest, 50%)

h1.app-segment-header,h2.app-segment-header,h3.app-segment-sub-header
	@media bp.large
		padding 0 12% 0 12%
		width 75%

h3.app-segment-sub-header
	font-weight bold
	text-transform uppercase
	span
		text-transform initial
		font-size calculateFontSize(1)
		font-weight initial
		color darkGray
	@media bp.large
		font-weight 300
		span
			// font-weight bold
			text-transform: uppercase
			color midnightBlue_light

.app-header-group
	width 100%
	flex-centered(fd:column)
	span
		zero()
		visibility: hidden
	h3
		padding 0 5%
		width 90%
		text-align center
		font-size calculateFontSize(1)
	@media bp.large
		flex-centered(fd:row, jc:flex-start)
		width 75%
		span
			font-size calculateFontSize(1)
			visibility visible
			margin-bottom @font-size
			height auto
			width auto
			color midnightBlue_light
			padding 0 2.5%
		h3
			width auto
			padding 0
		h3:nth-child(3)
			color midnightBlue_light
.app-page-segment.flex-start-mobile.center-desktop.home-page-segment
	@media bp.large
		margin-left 10%

img.app-image-panel
	width 80%
	@media bp.large
		width 60%
		margin auto
		display block
		border solid thin darkGray
		border-radius 0.35rem
		bsd(col:darkestGray)
		opacity 0.87!important
		transition width 0.25s
		&:hover
			width 75%
			transition width 0.15s

ul.care-types
	color midnightBlue
	@media bp.large
		color cloudGray
		width 75%