<template>
	<div class="page" id="about-page">
		<div class="page-inner" id="about-page-inner">

			<div class="page-header-group top-header" id="about-banner">
					<h1 class="page-header bold">ABOUT US</h1>
					<h2 class="page-banner-sub-header thin">
							The team, the work &amp; the clients
					</h2>
					<blockquote>
						<span>"</span> We're a home grown studio made up of a handful of talented individuals that come together to create something much greater than the sum of its parts <span>"</span>
					</blockquote>
			</div>

			<div class="page-content">

					<div class="page-content-navigation {{ sideNavClass }} ">
							<ul class="page-side-nav-list">
								<li class="page-side-nav-item ion-record" @click="scrollToTarget('who')">
										<p class="page-nav-blurb">Who are we / what do we do?</p>
								</li>
								<li class="page-side-nav-item ion-record" @click="scrollToTarget('service')">
										<p class="page-nav-blurb"> How we work? </p>
								</li>
								<li class="page-side-nav-item ion-record" @click="scrollToTarget('clients')">
									<p class="page-nav-blurb"> Some of our clients </p>
								</li>
							</ul>
					</div>

					<div class="page-content-section" id="who-section">

							<h2 class="page-section-header" id="who"> Who are we? </h2>

							<p class="text-default">
								We're a group of field specialists that have pooled our skillsets to help new businesses and passionate individuals expand their ideas and services through the web! Our talented team includes graphic &amp; web designers, web developers, photographers, 3d artists and a musician.
							</p>

							<p class="text-default">
								 We understand that your website is the virtual window into which your users peer. It's the heart of any business operation - the interface between you and your potential clients. This is why we're meticulous when creating the online portal to your business
							</p>

					</div>

					<div class="page-content-section" id="who-section">

							<h2 class="page-section-header" id="about-our-services"> The service </h2>

							<p class="text-default">
								We work closely with our clients and always aim to set business-centered targets for our end products. Using this method we ensure client sites and materials are fully tailored to suit the needs and requirements of their business &amp; target audience. A typical project breakdown can be found on the
								<button-link
								:button-text="'Our Services'"
								:destination="'services'"
								:button-class="'inline-button-link'"
								>
								</button-link>
							</p>

					</div>

			</div> <!-- end app page segment -->
		</div> <!-- end app content inner-->
	</div> <!-- end main div-->
</template>

<style lang="stylus">
		@import '../../stylus/_variables'
		@import '../../stylus/_mixins'


		#about-page-inner
			justify-content flex-start
			/*background rgba($col-primary, 90%)*/

</style>

<script>
	import ButtonLink from '../core_components/ButtonNav.vue';

	export default {
		data(){
			return {
				pagePos: 0,
				imgClasses: {
					owner: 'owner-img',
					team: 'team-img',
					nurses: 'nurses-img'
				},
				win: {},
				winPos: 0,
				winHeight: 0,
				scrollThreshold: {},
				visibilityClass: 'hidden',
				sideNavClass: 'default'
			}
		},
		methods:{
			init: function(){
				this.cacheDom();
				this.bindEvents();
			},
			cacheDom: function(){
				this.win = window;
			},
			bindEvents: function(){
				const _this = this;
				// _this.win.addEventListener('scroll',_this.handleScroll)
			},
			handleScroll:function(){
				let _this = this;
				this.win.scrollY > this.scrollThreshold[0] ? _this.visibilityClass = 'show' : _this.visibilityClass = 'hidden'
			},
			scrollToTarget:function(query){
				let el =  String(query);
				// console.log(el)
				let target = document.getElementById(query);
				let elOffset = target.offsetTop;
				let offsetByValue = (this.win.innerHeight * 0.525);
				document.body.scrollTop = offsetByValue + elOffset;
			},
			removeListeners: function(transition){
				const _this = this;
				_this.win.removeEventListener('scroll', _this.handleScroll);
				console.log('removed listener!');
			}
		},
		ready: function(){
			this.init();
		},
		route: {
			activate: function(){
				// console.log('Activated About page!')
			},
			canDeactivate: function(transition){
				// this.removeListeners(transition);
				transition.next();
			},
			deactivate: function(){
				this.removeListeners();
				console.log('deactivated component - about page!');
			}
		},
		components: {
			ButtonLink
		}
	}
</script>