<template>
	<div class="page">
		<div class="page-inner" id="contact-page-inner">

			<div class="page-header-group top-header" id="contact-banner">
					<h1 class="page-header bold"> Contact </h1>
					<h2 class="page-banner-sub-header thin">
							Interesting subehader
					</h2>
					<blockquote>
						<span>"</span> This is just a simple quote block placeholder, detailin somethin gimportant from the page below. this will help users sample the quality copy it appears<span>"</span>
					</blockquote>
			</div>

			<div class="page-content-section" id="email-us">

					<h2 class="page-section-header"> Email us </h2>

					<p class="text-default">
						Email us with any and all enquiries regarding our service or operations via <span> info@studio76.co </span>
					</p>

			</div>

			<div class="page-content-section" id="call-us">

					<h2 class="page-section-header"> Call us </h2>

					<p class="text-default">
						Between the hours of 9.30am and 6.30pm, feel free to call us on<span> 07479925044 </span>
					</p>

			</div>

			<div class="page-content-section" id="visit-us">

					<h2 class="page-section-header"> Visit us </h2>

					<p class="text-default">
						In the near future we will be accepting visits to the studio but for the time being, Email is preferred
					</p>

			</div>

		</div>
	</div>
</template>

<style lang="stylus">
	@import '../../stylus/_variables'
	@import '../../stylus/_mixins'

	#contact-page
		width 100%
		margin 0
		padding 0
		.app-content-section
			width 95%
			height 100vh
			padding 10% 2.5% 0
			@media bp.large
				flex-centered()
				width 60%
				min-height 30vh
				height auto
				padding 2% 20%

	.app-map-block
		background midnightBlue_light
		padding 5% 0
		width 100%
		flex-centered(fd:column, jc:center)
		ul.app-ul-std
			list-style none
			margin 5% 0
			padding 0 5%
			width 90%
			color cloudGray
			@media bp.large
				width auto
		.app-map-inner
			padding 2.5%
			min-height 30vh
			height 100%
			width 90%
			background rgba(darkGray, 50%)
			flex-centered()
			p
				color cloudGray
				width 100%
				text-align center
		@media bp.large
			flex-direction row
			.app-map-inner
				width 70%
				margin-right 5%

</style>

<script>

	export default {
		data(){
			return {
				header: 'Contact',
				subheader: "How to get in touch with us"
			}
		},
		methods:{
			sortMap: function(){
				console.log('function works')

				var myCenter=new google.maps.LatLng(51.415387,-0.966495);

				function initialize() {
						var mapProp = {
							center:myCenter,
							zoom:16,
							mapTypeId:google.maps.MapTypeId.ROADMAP
				    };

						var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

						var marker=new google.maps.Marker({position:myCenter});

						marker.setMap(map);

						var infowindow = new google.maps.InfoWindow({
						content:`Superb Healthcare Ltd
						45 Lea Close
						Reading
						Berkshire
						RG30 3NB`
						});
						infowindow.open(map,marker);
				}

				google.maps.event.addDomListener(window, 'load', initialize);
				//end of function
				}
		},
		ready: function(){
			console.log('Ready works');
			// this.sortMap();
		}
	}
</script>

