<template>
	<div class="app-content">
		<div class="app-content-inner" id="help-inner">

			<div class="app-header-group for-header" id="help-banner-group">
					<h1 class="app-header bold light">Help</h1>
					<h2 class="app-header thin light">
							ask or view one of many fAQs below
					</h2>
			</div>

		</div>
	</div>
</template>

<style lang="stylus">
	@import '../../stylus/_variables'
	@import '../../stylus/_mixins'

	#contact-inner
		justify-content flex-start
		padding 0
		margin 0
		background rgba(midnightBlue, 90%)

	#contact-page
		width 100%
		margin 0
		padding 0
		.app-content-section
			width 95%
			height 100vh
			padding 10% 2.5% 0
			@media bp.large
				flex-centered()
				width 60%
				min-height 30vh
				height auto
				padding 2% 20%

	.app-map-block
		background midnightBlue_light
		padding 5% 0
		width 100%
		flex-centered(fd:column, jc:center)
		ul.app-ul-std
			list-style none
			margin 5% 0
			padding 0 5%
			width 90%
			color cloudGray
			@media bp.large
				width auto
		.app-map-inner
			padding 2.5%
			min-height 30vh
			height 100%
			width 90%
			background rgba(darkGray, 50%)
			flex-centered()
			p
				color cloudGray
				width 100%
				text-align center
		@media bp.large
			flex-direction row
			.app-map-inner
				width 70%
				margin-right 5%

</style>

<script>

	export default {
		data(){
			return {
				header: 'Help',
				subheader: "Getting Help"
			}
		},
		methods:{},
		ready: function(){
			console.log('Ready works');
		}
	}
</script>

