<template>
	<div class="page">

		<div class="page-inner" id="home-inner-header">

				<div class="page-header-group top-header home">
						<h3 class="page-banner-sub-header">We're all about putting your needs first</h3>
						<p class="homepage-header-blurb">
						<span> {{ appInfo.business }} </span> is proud to be able to offer all of our clients their own person-centered care package
						</p>

						<button-link
							:button-text="button_text"
							:destination="button_address"
							:margin-top="'margin-top: 0.25rem'"
							:button-class="'CTA-button learn-more'">
						</button-link>

						<i class="ion-ios-arrow-down scroll-notation" id="home-scroll-notation"></i>

				</div>


				<div class="page-content">

						<div class="page-content-section" id="home-who-section">

								<h2 class="page-section-header">
									Who are we <span class="large-character">?</span>
								</h2>

								<p class="text-default">
									We're a Reading-based care agency set up to deliver care to adults in their own homes. The length of our care visits range anywhere from half an hour to 24 hours, depending on the client’s needs and the level of care requested.
								</p>

								<p class="text-default">
									We make every effort to respond to inquiries within 2 working days. We provide both long term and short-term care to our clients. We also offer short term respite care services for clients whose regular carers need time to rest
								</p>

								<p class="text-default">
									To learn more about us as an organisation please view our About page. To learn more about the specifics of what we offer as a service, visit our
									<a class="inline-link" v-link="{name:'services'}">
										Services page
										<i class="ion-link"></i>
									</a>
								</p>

						</div>

						<div class="page-content-section" id="home-we-care-for">

								<h2 class="page-section-header"> We care for <span class="large-character">...</span> </h2>

								<p class="text-default">Superb Healthcare provides care for:</p>

								<ul class="ul-std">
					        <li class="li-std">Elderly clients</li>
					        <li class="li-std">People with learning disabilities </li>
					        <li class="li-std">People with mental health problems </li>
					        <li class="li-std">Families needing respite care</li>
					        <li class="li-std">Anybody who may benefit from the services we provide</li>
					      </ul>

								<p class="text-default">
									We deliver care in a fashion that promotes independence and empowers our client to regain or retain control of their own lives. We believe that treating clients with respect and dignity and allowing them privacy are key principles to delivering a satisfactory and successful care service that makes clients happy and fulfilled
								</p>

						</div>

						<div class="page-content-section" id="home-our-staff">

								<h2 class="page-section-header"> About Our Staff </h2>

								<p class="text-default">Here at Superb Healthcare you will find our staff are:</p>

								<ul class="ul-std">
					        <li class="li-std">
										Trained in line with the skills to care standards
									</li>
					        <li class="li-std">
										Possess skills and knowledge in subjects that cater for the needs of our customers
									</li>
					        <li class="li-std">
										Background checked to safeguard our clients from anything that could put them at risk from abuse
									</li>
					        <li class="li-std">
										Genuinely caring and understanding
									</li>
					      </ul>

								<p class="text-default">
									Our leadership and Management team is comprised of a qualified nurse, who is the registered manager and nominated person, a management consultant who is a five times registered manager with CQC
								</p>

						</div>

				</div> <!-- end page content -->
		</div> <!-- end page inner -->

	</div>
</template>

<style lang="stylus">
	@import '../../stylus/_mixins'
	@import '../../stylus/_variables'
	@import '../../stylus/_typography'

	#home-inner-header
		background $col-white
		color $col-secondary
		flex-centered(fd:column)
		.page-header-group.top-header.home
			min-height 100vh
			height auto
			/*border-bottom dotted thin $col-primary*/
			.button-container
				margin-top 1.5rem
	@media bp.large
		h2,h3
			width 80%
		p,i
			width 60%

</style>

<script>

	import ButtonLink from "../core_components/ButtonNav.vue"
	import ExternalLinkIcon from "../sub_components/ExternalLinkIcon.vue"
	import config from "../../config/appConfig.js"
	// let businessName = config.business.title;

	export default {
		props:['app-info'],
		data(){
			return {
				button_text: 'Learn more',
				button_address: "about",
				title: 'businessName'
			}
		},
		components: {
			ButtonLink,
			ExternalLinkIcon
		}
	}
</script>

