<template>
	<div class="app-content">
		<div class="app-content-inner" id="services-inner">

			<div class="app-header-group for-header" id="services-banner-group">
					<h1 class="app-header bold light">Our Services</h1>
					<h2 class="app-header thin light">
							A catalogue of our services
					</h2>
			</div>

		</div> <!-- content inner -->
	</div>  <!-- main -->
</template>

<style lang="stylus">
		@import '../../stylus/_variables'
		@import '../../stylus/_mixins'


</style>

<script>

	export default {
		data(){
			return {
				pagePos: 0,
				win: {},
				winPos: 0,
				winHeight: 0,
				scrollThreshold: {},
				visibilityClass: 'hidden',
				sideNavClass: 'default',
				expandedImg: './img/utility/placeholder-1200.jpg'
			}
		},
		methods:{
			init: function(){
				this.cacheDom();
				this.bindEvents();
			},
			cacheDom: function(){
				this.win = window;
			},
			bindEvents: function(){
				const _this = this;
				// _this.win.addEventListener('scroll',_this.handleScroll)
			},
			showExpandedView: function(src){
				console.log('clicked on image, src is: ', src);
				//check position of selected image in expanded gallery
				this.expandedViewGalleryPosition = this.expandedViewGallery.indexOf(src);
				console.log('gallery position is: ', this.expandedViewGalleryPosition)
				// set gallerys current image based on its position in the EVG array
				// this.expandedImg = this.expandedViewGallery[this.expandedViewGalleryPosition];
				// open expanded gallery view
				this.expandedView ? console.log('already open') : this.expandedView = true;
			},
			hideExpandedView: function(){
				this.expandedView = false;
			},
			handleScroll:function(){
				let _this = this;
				this.win.scrollY > this.scrollThreshold[0] ? _this.visibilityClass = 'show' : _this.visibilityClass = 'hidden'
			},
			scrollToTarget:function(query){
				let el =  String(query);
				let target = document.getElementById(query);
				let elOffset = target.offsetTop;
				let offsetByValue = (this.win.innerHeight * 0.525);
				document.body.scrollTop = offsetByValue + elOffset;
				// console.log('target is: ', target);
			},
			removeListeners: function(transition){
				const _this = this;
				_this.win.removeEventListener('scroll', _this.handleScroll);
				console.log('removed listener!');
			},
			calcThreshold: function(){
				let _this = this;
				this.winHeight = window.innerHeight;
				this.scrollThreshold[0] = this.winHeight * 0.15;
				this.$dispatch('setThreshold', _this.scrollThreshold[0]);
			}
		},
		computed: {
			setExpandedImg: function(){
				let targetImage = this.expandedViewGallery[this.expandedViewGalleryPosition];

				return targetImage;
			}
		},
		events: {
			'toggleElements':function(state){
				this.visibilityClass = state;
			},
			setSideNav:function(action){
				let _this = this;
				this.sideNavClass = action;
				let doc = document.getElementById('gs-who-are-we');
				// doc.style.color = "red";
				// console.log(doc.offsetTop);
				// console.log('WAW pos: ', doc.scrollTop);
			}
		},
		ready: function(){
			this.init();
		},
		route: {
			activate: function(){
				// console.log('Activated About page!')
			},
			canDeactivate: function(transition){
				// this.removeListeners(transition);
				transition.next();
			},
			deactivate: function(){
				this.removeListeners();
				console.log('deactivated component - about page!');
			}
		}
	}
</script>