<template>
	<div class="page">
		<div class="page-inner" id="work-inner">

			<div class="page-header-group top-header" id="work-banner">
					<h1 class="page-header bold">Work</h1>
					<h2 class="page-banner-sub-header thin">
							Looking for work? Take a look at our vacancies
					</h2>
					<blockquote>
						<span>"</span>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
						<span>"</span>
					</blockquote>
			</div>

			<div class="page-content">
					<div class="page-content-section" id="vacancies">

						<h2 class="page-section-header" id="vacancies-header"> Current Vacancies </h2>

						<ul class="ul-std" >
							<li v-for="data in breakdown">
								<p class="title">{{ data.title }}</p>
								<p class="text">{{ data.text }}</p>
								<div class="dots">
									<i class="ion-more more-icon"></i>
								</div>
							</li>
						</ul>

					</div>
			</div> <!--end page content-->

		</div> <!--end page inner-->
	</div> <!--end page-->
</template>

<style lang="stylus">
	@import '../../stylus/_variables'
	@import '../../stylus/_mixins'

	#contact-inner
		justify-content flex-start
		padding 0
		margin 0
		background rgba(midnightBlue, 90%)

	#contact-page
		width 100%
		margin 0
		padding 0
		.app-content-section
			width 95%
			height 100vh
			padding 10% 2.5% 0
			@media bp.large
				flex-centered()
				width 60%
				min-height 30vh
				height auto
				padding 2% 20%

	.app-map-block
		background midnightBlue_light
		padding 5% 0
		width 100%
		flex-centered(fd:column, jc:center)
		ul.app-ul-std
			list-style none
			margin 5% 0
			padding 0 5%
			width 90%
			color cloudGray
			@media bp.large
				width auto
		.app-map-inner
			padding 2.5%
			min-height 30vh
			height 100%
			width 90%
			background rgba(darkGray, 50%)
			flex-centered()
			p
				color cloudGray
				width 100%
				text-align center
		@media bp.large
			flex-direction row
			.app-map-inner
				width 70%
				margin-right 5%

</style>

<script>
	import currentVacancies from '../data/vacancies';
	let temp = {};

	export default {
		data(){
			return {
				header: 'Contact',
				subheader: "How to get in touch with us",
				vacancies: temp
			}
		},
		methods:{
			toggleSelected: function(selected){
				// will toggle the class of clicked item and the full explanantion of
				// a breakdown segment
			}
		},
		ready: function(){
			console.log('Workflow page ready');
		}
	}
</script>

