//pallet 1
  crimson = #d90429
  crimsonPink = #ef233c
  offWhite = #edf2f4
  cloudGray= #ECF0F1
  grayBlue = #8d99ae
  darkGrayBlue = #2b2d42

  $pallet-k-blue = grayBlue
  $pallet-k-dark-blue = midnightBlue
  $pallet-k-alt-dark-blue = wet-asphalt
  $pallet-k-white = rgba(245,245,245,1.0)
  $pallet-k-off-white = offWhite
  $pallet-k-accent = pomegranitePink
  $pallet-k-alt-accent = goldStd
  $pallet-k-text-dark = midnightBlue
  $pallet-k-text-light = offWhite

//pallet 2
  wheatYellow = #f0b67f
  salmonPink = #fe5f55
  paleYellowGreen = #d6d1b1
  powderyTeal = #c7efcf
  // pallet 3
  faintPink = #fe938c
  faintCoral = #e6b89c
  faintYellow = #ead2ac
  powederBlue = #9cafb7
  powederBlueDark = #4281a4
  //salmonPink
  dullYellow = #E4B363
  goldStd = #D69225
  goldLight = #E0A84D
  lightOrange = lighten(orange, 50%)
  //offWhite
  faintLightGreen = #E0DFD5
  darkSwampGreen = #313638
  charcole = rgb(10,10,10)
  darkestGray = rgb(15,15,15)
  darkerGray = rgb(25,25,25)
  darkGray = #373737
  lightGray = #515151
  faintGray = rgb(160,160,160)
  cloudGrayDark = rgb(200,200,200)
  pomegranite = #C0392B;
  pomegranite_dark = #ab3326
  pomegranite_darkest = #6c2018
  redDark = rgb(80, 22, 22)
  darkRedLS = #9f3936
  lightRedLS = #c24a46
  alzarin = #E74C3C
  pomegranitePink = #E05F4D
  lightPinkLS = #d06f6b
  purpleDark = #4A148C
  purpleNorm = #512DA8
  purpleLight = #673AB7
  blueLS = #3668a0
  lightBlueLS = #4781c2
  faintBlueLS = #6c9bd0
  peterRiverLight = #29B6F6
  peterRiver = #0288D1
  peterRiverDark = #01579B
  babyBlue = #6CB7E9
  blueGray = #263238
  wet-asphalt = #34495E
  midnightBlue = #2C3E50
  midnightBlue_light =  #476481
  midnightBlue_lighter = #688aac
  midnightBlue_lightest =  #90a9c2
  midnightBlue_faint = #c2d0de
  midnightBlue_dark = #1a252f
  midnightBlue_darker = #11181f
  midnightBlue_darkgray = #161f28
  blueGrayLight = #455A64
  blueGrayFaint = #78909C
  tealDark = #006064
  teal = #00796B
  tealLight = #26A69A
  emerald = #2ECC71
  emeraldDark = #27AE60
  mintyGreen = #6DB084

  redStd = #d34839
  redStd2 = #cb3d2d
  redStd3 = #bb382a
  redStd_dark = #ab3326
  redStd_dark2 = #9b2e22
  redStd_dark3 = #8b291f
