<template>
	<div class="nav-button-container" :style="marginTop">
		<a v-link="{name: destination }" class="button-nav {{ buttonClass }}" :style="buttonStyle">
					{{ buttonText }}
		</a>
	</div>
</template>

<style lang="stylus">

	@import '../../stylus/_mixins.styl'
	@import '../../stylus/_variables.styl'
	@import '../../stylus/_typography.styl'


	.nav-button-container
		width 80%
		padding 0 10%
		flex-centered()
		height 10vh

	.nav-button-container.margin-top-small
		margin-top 1rem
	.nav-button-container.margin-top-small
		margin-top 1rem

	.CTA-button,
	.inline-button-link
		background $col-primary
		color $col-white
		height 3.5rem
		width @height * 3.5
		margin-bottom 0
		flex-centered()
		font-size calculateAltFontSize()
		text-decoration none
		border-radius 0.15rem
		transition background 0.2s, color 0.2s, width 0.2s
		bsd(first: 0.05rem, second: 0.05rem, col: darken(@background, 50%))
		&:hover
			background lighten($col-primary, 25%)
			color $col-primary-hl
			width 13.5rem
			transition background 0.125s, color 0.125s, width 0.125s

	.inline-button-link
		height 1.75rem

</style>

<script>

	export default {
		props: ['button-text','destination','button-class', 'button-style', 'margin-top'],
		data: function() {
			return {
				somedata: 'some data'
			}
		},
		methods: {
			logSomething: function(){
				console.log('logging something from methods')
			}
		}
	}

</script>