<template>
	<div class="app-button-container">
		<button class="app-button-std"> {{ buttonText }} </button>
	</div>	
</template>

<script>
	
	export default {
		props: ['button-text'],
		data: function() {
			return {
				somedata: 'some data'
			}
		},
		methods: {
			logSomething: function(){
				console.log('logging something from methods')
			}
		}
	}

</script>