<template lang="html">

    <div class="gallery-img-container"
        :style="state.expanded ? styles.container.expanded : styles.container.default"
        id="img_file"
        @click="expandGallery()"
    >
        <img :src="img_file" alt="{{img_alt}}"
             :style="state.expanded ? styles.img.expanded : styles.img.default"
        />
        <p :style="state.expanded ? styles.detail.expanded:styles.detail.default">
          {{img_detail}}
        </p>
        <div class="image-cover"
              :style="state.expanded? styles.cover.expanded:styles.cover.default">
              Click to toggle
        </div>
    </div>

</template>

<style lang="stylus">
  @import '../../stylus/_variables'
  @import '../../stylus/_mixins'
  @import '../../stylus/_typography'




</style>

<script>
export default {

  props: ['img_file', 'img_detail', 'img_alt'],

  data: function () {
    return {
      styles: {
        container:{
          default: {
            'position': 'relative'
          },
          expanded: {
            'height': 'auto',
            'width': '75vw',
            'position': 'fixed',
            'top': '7vh',
            'margin': '0',
            'left': '22.5vw',
            'z-index': '3'
          }
        },
        img:{
          default: '',
          expanded: {
            'height': 'auto',
            'width': '100%',
            'margin-bottom': '0'
          }
        },
        detail:{
          default: '',
          expanded: {
            'height' : '10%',
            'font-size': '2.5rem'
          }
        },
        cover:{
          default: '',
          expanded: {
            'height':'80%',
            'width':'90%',
            'padding': '5%',
            'background':'rgba(50,50,50,0.1)',
            'justify-content': 'flex-start',
            'align-items': 'flex-end',
            'color':'yellow'
          }
        }
      },
      state: {
        expanded: false
      }
    }
  },

  methods:{
    expandGallery: function(target){
      let scope = this;
      console.log('will change state!');
      this.state.expanded = !scope.state.expanded;
    }
  },

  computed: {},
  ready: function () {},
  attached: function () {},
  components: {}
}
</script>