<template>
	<div class="nav-main {{ navclass }}">
		<home-link :title="'Superb Healthcare'"></home-link>

		<div class="nav-links-container {{ state }}">
			<nav-link
				:link_target="link.address"
				:link_name="link.name"
				:link_blurb="link.blurb"
				:is-home-link="false"
				v-for="link in routes">
			</nav-link>
		</div>

		<nav-toggle :location="location"></nav-toggle>

	</div>
</template>

<style lang="stylus">
	@import '../../stylus/_variables'
	@import '../../stylus/_mixins'
	@import '../../stylus/_typography'

	.nav-main
		width 100vw
		height 12.5vh
		padding 0
		margin 0
		position fixed
		top 0
		left 0
		z-index 14
		font-family Lato
		text-transform uppercase
		font-weight 400
		transition background 0.2s, height 0.1s

	.nav-no-bg
		background transparent
		/*border-bottom none*/

	.nav-with-bg
		height 15%
		background rgba($col-secondary, 90%)
		border-bottom solid thin $col-tertiary
		@media bp.large
			height 7.5vh

	.nav-links-container
		width 100%
		height 100vh
		flex-centered(fd:column, ai: center, jc: center)
		background rgba($col-secondary, 98%)
		position fixed
		left 0
		transition top 0.25s
		@media bp.large
			width 80%
			padding 0 10%
			align-items flex-start

	.hide
		top -100vh

	.show
		top 0

	.nav-with-bg > .toggle-button-main
		top 0
		right 0
		height 15vh
		// same height as navbar
		width @height
		border none
		transition top 0.2s, right 0.2s, height 0.2s, width 0.2s
		.toggle-icon
			color $col-white
			width 100%
			height 100%
			position relative
			top 0
			left 0
		@media bp.large
			top 1vh
			right 3vh
			height 5vh
			width 6vh

	.toggle-button-main
		/*background $col-secondary*/
		height 10vh
		width @height
		position fixed
		top 2vh
		right 1.5rem
		flex-centered(jc:flex-end)
		z-index 16
		border-bottom solid 0.25rem $col-secondary
		transition top 0.2s, right 0.2s, height 0.2s, width 0.2s, background 0.2s, border-color 0.2s
		.toggle-icon
			color $col-secondary
			flex-centered()
			width @width
			height 100%
			background transparent
			font-size 3rem
			margin 0
			padding 0
			transition width 0.25s
		.menu-blurb
			padding 0
			margin 0
			opacity 0
			display none
			visibility hidden
		@media bp.large
			top 2rem
			right 3rem
			height 5rem
			width @height
			transition width 0.1s, background 0.2s
			.toggle-icon
				width @width
				transition width 0s, background 0.2s
			.menu-blurb
				font-size calculateAltFontSize(1)
				flex-centered()
				font-weight lighter
				font-size calculateAltFontSize(1)
				font-family Oswald
				text-transform initial
				width 300%
				height 100%
				position absolute
				top -1%
				left -100%
				transition left 0.1s, opacity 0.1s
			&:hover
				background transparent
				border-color $col-primary
				flex-centered(jc:flex-end)
				width 17.5vw
				transition width 0.15s
				i,a
					border none
				.toggle-icon
					background transparent
					color $col-primary
					transition width 0s
				.menu-blurb
					visibility visible
					color $col-primary
					opacity 1
					width 70%
					position absolute
					left 0
					font-style initial
					background transparent
					transition opacity 0.5s, left 0.15s
					transition-delay 0.075s

	.toggle-button-main.opened
		background transparent

	.toggle-button-main.closed
		background transparent

	// for styling when menu is opened

	.toggle-icon.ion-ios-close-empty
		font-size 3.5rem
		color $col-white
		border-color $col-white

	.link-container
		position relative
		background transparent
		border-bottom solid thin lighten($col-secondary, 15%)
		border-radius 0
		width 55%
		padding 0
		margin 0
		height 12.5vh
		flex-centered(fd:column, jc:flex-start)
		z-index 15
		@media bp.large
			margin 0.5rem
			padding 0
			width 30%
			border solid thin $col-white
			height 4rem
			flex-centered(fd:row,jc:flex-start)
			transition width 0.15s

	.blurb
		height 100%
		width 200%
		font-size calculateFontSize(1)
		margin 0
		padding 0
		color cloudGray
		text-decoration none
		position absolute
		left 175%
		top 0
		visibility hidden
		opacity 0
		border none
		flex-centered(jc:flex-start)
		transition width 0.15s, left 0.15s, opacity 0.1s

	.nav-link
		position relative
		top 0
		left 0
		color cloudGray
		text-decoration none
		padding 0
		margin 0
		height 100%
		width 100%
		/*font-size 1.5rem*/
		font-size calculateFontSize(1)
		font-family $Trocchi
		text-transform uppercase
		flex-centered()
		font-weight 400
		@media bp.large
			/*border solid thin cloudGray*/
			height 100%
			margin 0
			transition background 0.1s

	.nav-link.v-link-active
		background $col-primary

	.link-container:hover
		@media bp.large
			.nav-link
				background $col-white
				border none
				color $col-primary
				margin 0
				padding 0
			.blurb
				flex-centered(jc:flex-start)
				font-size calculateFontSize(1)
				margin 0 0 0 5%
				padding 0 0 0 5%
				border solid 0.1rem $col-white
				height 98%
				left 100%
				/*background rgba(cloudGray, 65%)*/
				color cloudGray
				/*height 100%*/
				flex-centered(jc:flex-start)
				width 55vw
				font-weight 100
				text-transform initial
				visibility visible
				opacity 1
				transition width 0.15s, font-size 0.15s, left 0.3s, opacity 0.35s


	.home-link-container
		position relative
		background transparent
		border-radius 0
		width 0
		padding 0
		margin 0
		flex-centered(fd:row, jc:flex-start)
		z-index 15
		position fixed
		top -50vh
		left 0
		a
			text-decoration none
		@media bp.large
			flex-centered(fd: column, ai:flex-start, jc: center)
			background transparent
			border-bottom solid 0.25rem $col-secondary
			padding 0 0.75%
			height 8.5%
			width 12vw
			top 2vh
			left 2.5%
			transition top 0.2s, left 0.2s, background 0.25s, padding 0.25s, width 0.25s
			a
				margin 0
				font-family $Trocchi
				color $col-secondary
				font-weight lighter
				font-size calculateFontSize(2)
				text-transform initial
				text-align left
				height 100%
				width 100%
				flex-centered(jc:flex-start)
				transition color 0.15s, text-align 0.15s, justify-content 0.15s

	.home-link-container:hover
		border-color $col-primary
		transition border-color 0.2s
		a
			color $col-primary
			transition color 0.25s

	.nav-with-bg > .home-link-container
		@media bp.large
			top 0
			left 5%
			height 7.5vh
			transition top 0.2s, left 0.2s, height 0.2s
			border none
			a
				color $col-white
			&:hover
				background transparent
				width auto
				box-shadow none
				flex-centered(jc:flex-start)
				a
					color peterRiverLight
					text-align left
				.home-blurb
					transition none
					visibility hidden

</style>

<script>
	import navLink from '../sub_components/NavLink.vue';
	import HomeLink from '../sub_components/HomeLink.vue';
	import navToggle from '../sub_components/ToggleButton.vue';

	export default {
		props: ['location', 'navclass', 'routes'],
		data : function(){
			return{
				position: 0,
				state: 'hide',
				icons: {
					opened: "ion-nav-menu",
					closed: "ion-ios-close-empty"
				},
				navBarStates : {
					normal: "normal",
					darkened: "darkened",
					darkened: "darkened",
				},
				icon: "ion-nav-menu",
				navBarState : "normal",
				siteName: "Unnamed",
				navRoutes: {}
			}
		},
		computed: {
			navStyle: function(){
				return window.pageYOffset
			}
		},
		ready:function(){
			console.log(screen.availHeight);
		},
		events: {
			'toggle-menu': function(isMenuClosed){
				console.log('is menu closed', isMenuClosed);
				this.state = isMenuClosed ? 'hide' : 'show';
			},
			'close-menu' : function(){
				this.state = 'hide';
				this.$broadcast('close-menu-toggle');
			},
			'set-routes': function(appRoutes){
				console.log("setting routes!");
				this.navRoutes = appRoutes;
			}
		},
		components: {
			navLink,
			HomeLink,
			navToggle
		}
	}
</script>
